.alert-info {
    -fx-background-color: #5bc0de;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.alert-info:hover {
    -fx-background-color: #31b0d5;
}

.alert-success {
    -fx-background-color: #5cb85c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.alert-success:hover {
    -fx-background-color: #449d44;
}

.alert-warning {
    -fx-background-color: #f0ad4e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.alert-warning:hover {
    -fx-background-color: #ec971f;
}

.alert-danger {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.alert-danger:hover {
    -fx-background-color: #c9302c;
}

.tool-bar {
    -fx-background-color: #0B0C0F;
}

.keyword-cmd {
    -fx-fill: #b19cd9;
    -fx-font-weight: bold;
}

.keyword-loop {
    -fx-fill: #f7768e;
    -fx-font-weight: bold;
}

.keyword-block {
    -fx-fill: #7dcfff;
    -fx-font-weight: bold;
}

.number {
    -fx-fill: #f5a623;
}

.variable {
    -fx-fill: #5bc0de;
}

/* Integración limpia de la barra de números (Estilo IntelliJ) */
.lineno {
    -fx-background-color: #454A5E; /* Mismo color exacto que el editor */
    -fx-text-fill: #6a7382; /* Gris apagado para que no resalte más que el código */
    -fx-font-family: monospace;
    -fx-font-size: 16;
    -fx-padding: 0 10 0 5;
    -fx-border-color: transparent #323543 transparent transparent; /* Línea divisoria sutil */
    -fx-border-width: 0 2 0 0;
}

.styled-text-area {
    -fx-font-family: monospace;
    -fx-font-size: 16;
    -fx-background-color: #454A5E;
}